<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>ScrapsAI</title>
  </head>
  <body>
    <section class="box_analyze">
      <h1>Analyze Your Image</h1>
      <div class="file_upload">
        <p>Add File</p>
        <div id="dropArea" class="box_upload">
          <i class="bx bx-arrow-in-up-circle-half"></i>
          <p>Drag and Drop Here</p>
          <p>or</p>
          <a href="">Browse here</a>
        </div>
      </div>

      <div id="image-preview"></div>
      <img id="camera-output" />

      <div class="button_analyze">
        <button class="button">Analyze Now</button>
        <button id="viewCam" class="camera">
          <i class="bx bx-camera"></i>
        </button>
      </div>
      <div id="cam_view">
        <video id="camera-view" autoplay playsinline></video>
        <button id="shutter"><i class="bx bx-shutter"></i></button>
        <canvas id="canvas-output" style="display: none"></canvas>
      </div>
    </section>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
